@use "utilities/global" as *;

@include setup;

body {
  background-color: hsl(34, 100%, 99%);
  font-family: $font-barlow;
  max-width: rem(750px);
  margin: 0 auto;
  @media (min-width: $breakpoint) {
    max-width: none;
  }
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    outline: none;
  }
}

.header {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: rem(538px);
  padding-top: rem(32px);
  padding-inline: lerp_clamp(375px, rem(24px), 750px, rem(80px));
  a:any-link {
    color: color(dark-grayish-blue);
  }
  @media (min-width: $breakpoint) {
    background-image: url("../images/desktop/image-header.jpg");
    padding-top: rem(34px);
    padding-inline: rem(40px);
    height: rem(800px);
    a:any-link {
      color: color(white);
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(88px);
  color: white;
  position: relative;
  @media (min-width: $breakpoint) {
    margin-bottom: rem(105px);
  }
}

.header__logo {
  width: rem(124px);
  @media (min-width: $breakpoint) {
    width: rem(170px);
  }
}

.header__navigation {
  position: absolute;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);
  top: calc(100% + rem(50px));
  right: 0;
  padding-block: rem(39px);
  width: 100%;
  max-width: rem(500px);
  @include setFont(rem(20px), 25px, 600);
  &:before {
    content: "";
    position: absolute;
    top: -24px;
    right: 0;
    border: 24px solid transparent;
    border-right: 24px solid white;
  }
  @media (min-width: $breakpoint) {
    display: flex;
    position: static;
    flex-direction: row;
    gap: 0;
    width: rem(467px);
    padding: 0;
    justify-content: space-between;
    background-color: transparent;
    @include setFont(rem(18px), 25px);
    letter-spacing: -0.128571px;
    &:before {
      display: none;
    }
  }
}

.header__hamburger {
  cursor: pointer;
  @media (min-width: $breakpoint) {
    display: none;
  }
}

.navigation__contact-btn {
  font-family: $font-fraunces;
  @include setFont(rem(15px), 25px, 700);
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  width: em(140px, 15px);
  height: em(56px, 15px);
  background-color: transparent;
  color: color(very-dark-desaturated-blue);
  z-index: 2;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: color(yellow);
    border-radius: 28px;
    z-index: -1;
  }
  &:hover,
  &:focus {
    outline: none;
    &::before {
      opacity: 0.25;
    }
  }

  @media (min-width: $breakpoint) {
    &::before {
      background-color: color(white);
    }
    &:hover,
    &:focus {
      color: color(white);
    }
  }
}

.header__heading {
  font-family: $font-fraunces;
  @include setFont(rem(40px), 49px, 900);
  letter-spacing: 6.25px;
  text-transform: uppercase;
  text-align: center;
  color: color(white);
  margin-bottom: em(52px, 40px);
  @media (min-width: $breakpoint) {
    @include setFont(rem(56px), 69px);
    letter-spacing: 8.75px;
    margin-bottom: em(96.54px, 56px);
  }
}

.header__arrow-down {
  margin-inline: auto;
}

.grid {
  @media (min-width: $breakpoint) {
    display: grid;
    grid-template: repeat(3, min-content) / repeat(2, min(50vw, 720px));
    grid-template-areas:
      "transform-text transform-img"
      "standout-img standout-text" "graphic-design photography";
    align-items: center;
    justify-content: center;
  }
}

%grid__section-white {
  padding-block: lerp_clamp(375px, rem(64px), 750px, rem(140px));
  padding-inline: lerp_clamp(375px, rem(24px), 750px, rem(80px));
  text-align: center;
  @media (min-width: $breakpoint) {
    text-align: left;
    padding-block: 0;
    align-self: center;
  }
}

.section-white--transform {
  @extend %grid__section-white;
  @media (min-width: $breakpoint) {
    padding-left: lerp_clamp($breakpoint, rem(80px), 1440px, rem(165px));
    padding-right: lerp_clamp($breakpoint, rem(60px), 1440px, rem(110px));
    grid-area: transform-text;
  }
}

.grid__transform-img {
  grid-area: transform-img;
}

.section-white--standout {
  @extend %grid__section-white;
  @media (min-width: $breakpoint) {
    padding-right: lerp_clamp($breakpoint, rem(80px), 1440px, rem(165px));
    padding-left: lerp_clamp($breakpoint, rem(60px), 1440px, rem(110px));
    grid-area: standout-text;
  }
}

.grid__standout-img {
  grid-area: standout-img;
}

.section-white__heading {
  font-family: $font-fraunces;
  @include setFont(rem(32px), 39px, 900);
  letter-spacing: -0.228571px;
  color: color(very-dark-desaturated-blue);
  margin-bottom: em(24px, 32px);
  @media (min-width: $breakpoint) {
    @include setFont(rem(40px), 49px);
    letter-spacing: -0.285714px;
    margin-bottom: em(33px, 40px);
  }
}

.section-white__paragraph {
  @include setFont(rem(18px), 30px, 600);
  letter-spacing: -0.128571px;
  color: color(dark-grayish-blue);
  margin-bottom: em(32px, 18px);
  @media (min-width: $breakpoint) {
    margin-bottom: em(40px, 18px);
  }
}

.section-white__learn-more {
  font-family: $font-fraunces;
  @include setFont(rem(15px), 25px, 900);
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  &:any-link {
    color: color(very-dark-desaturated-blue);
  }
}

%underline {
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: rem(137px);
    height: rem(10px);
    bottom: rem(-3px);
    left: rem(-9.5px);
    opacity: 0.25;
    border-radius: 28px;
    z-index: -1;
  }
  &:hover:after {
    opacity: 1;
  }
}

.underline--yellow {
  @extend %underline;
  &:after {
    background-color: color(yellow);
  }
}

.underline--red {
  @extend %underline;
  &:after {
    background-color: color(soft-red);
  }
}

.grid__section-color {
  width: 100%;
  height: rem(600px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-inline: lerp_clamp(375px, rem(24px), 750px, rem(80px));
  padding-bottom: rem(59px);
  @media (min-width: $breakpoint) {
    padding-bottom: rem(59px);
  }
}

.color--green {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-position: center center;
  color: color(dark-desaturated-cyan);
  grid-area: graphic-design;
  @media (min-width: 400px) {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
}

.color--blue {
  background-image: url("../images/mobile/image-photography.jpg");
  background-position: center center;
  color: color(dark-blue);
  grid-area: photography;
  @media (min-width: 400px) {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

.section-color__heading {
  font-family: $font-fraunces;
  @include setFont(rem(27px), 35px, 900);
  letter-spacing: -0.2px;
  margin-bottom: em(27px, 27px);
  @media (min-width: $breakpoint) {
    @include setFont(rem(28px), 35px);
    margin-bottom: em(27px, 28px);
  }
}

.section-color__paragraph {
  @include setFont(rem(16px), 27px, 600);
  letter-spacing: -0.114286px;
  max-width: rem(450px);
  @media (min-width: $breakpoint) {
    max-width: rem(340px);
  }
}

.section-testimonials {
  padding-top: rem(64px);
  padding-inline: lerp_clamp(375px, rem(24px), 750px, rem(80px));
  padding-bottom: rem(86px);
  text-align: center;
  @media (min-width: $breakpoint) {
    padding-block: rem(160px);
    padding-inline: 0;
    width: 100%;
  }
}

.testimonials__heading {
  font-family: $font-fraunces;
  @include setFont(rem(16px), 20px, 900);
  letter-spacing: 4px;
  color: color(grayish-blue);
  margin-bottom: em(64px, 16px);
  @media (min-width: $breakpoint) {
    @include setFont(rem(20px), 25px);
    letter-spacing: 5px;
    margin-bottom: em(81px, 20px);
  }
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(64px);
  @media (min-width: 1150px) {
    margin: 0 auto;
    flex-direction: row;
    gap: rem(30px);
    max-width: rem(1110px);
  }
}

.testimonial__avatar {
  width: rem(72px);
  height: rem(72px);
  border-radius: 100%;
  margin-inline: auto;
  margin-bottom: rem(32px);
  @media (min-width: 1150px) {
    margin-bottom: rem(58px);
  }
}

.testimonial__quote {
  @include setFont(rem(18px), 32px, 600);
  letter-spacing: -0.128571px;
  margin-bottom: em(32px, 18px);
  color: color(very-dark-grayish-blue);
  max-width: rem(590px);
  @media (min-width: 1150px) {
    width: rem(350px);
    margin-bottom: em(69px, 18px);
  }
}

.attribution__name {
  font-family: $font-fraunces;
  @include setFont(rem(18px), 22px, 900);
  letter-spacing: -0.128571px;
  color: color(very-dark-desaturated-blue);
  margin-bottom: em(9px, 18px);
}

.attribution__job-title {
  @include setFont(rem(14px), 25px, 600);
  letter-spacing: -0.1px;
  color: color(grayish-blue);
}

.gallery {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  @media (min-width: $breakpoint) {
    grid-template: none / repeat(4, 1fr);
  }
}

.footer {
  background-color: hsl(168, 44%, 70%);
  color: hsl(168, 46%, 31%);
  padding: rem(64px) rem(39px) rem(80px);
  position: relative;
  a:any-link {
    color: color(dark-moderate-cyan);
  }
  a:hover,
  a:focus {
    color: color(white);
  }
  @media (min-width: $breakpoint) {
    padding-block: rem(72px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  width: rem(170px);
  margin-inline: auto;
  margin-bottom: rem(40px);
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include setFont(rem(18px), 25px, 600);
  letter-spacing: -0.128571px;
  margin-bottom: rem(88px);
  @media (min-width: $breakpoint) {
    max-width: rem(300px);
  }
}

.footer__social-media {
  width: rem(164px);
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.attribution {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
