:root {
  font-size: 1.125em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(34deg, 100%, 99%);
  font-family: "Barlow", sans-serif;
  max-width: 41.6666666667rem;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  body {
    max-width: none;
  }
}

img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
a:hover, a:focus {
  outline: none;
}

.header {
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 29.8888888889rem;
  padding-top: 1.7777777778rem;
  padding-inline: clamp(1.3333333333rem, 0.1493333333 * 100vw + -1.7777777778rem, 4.4444444444rem);
}
.header a:any-link {
  color: hsl(232deg, 10%, 55%);
}
@media (min-width: 1000px) {
  .header {
    background-image: url("../images/desktop/image-header.jpg");
    padding-top: 1.8888888889rem;
    padding-inline: 2.2222222222rem;
    height: 44.4444444444rem;
  }
  .header a:any-link {
    color: hsl(0deg, 0%, 100%);
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8888888889rem;
  color: white;
  position: relative;
}
@media (min-width: 1000px) {
  .header__top {
    margin-bottom: 5.8333333333rem;
  }
}

.header__logo {
  width: 6.8888888889rem;
}
@media (min-width: 1000px) {
  .header__logo {
    width: 9.4444444444rem;
  }
}

.header__navigation {
  position: absolute;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1.7777777778rem;
  top: calc(100% + 2.7777777778rem);
  right: 0;
  padding-block: 2.1666666667rem;
  width: 100%;
  max-width: 27.7777777778rem;
  font-size: 1.1111111111rem;
  line-height: 1.25;
  font-weight: 600;
}
.header__navigation:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 0;
  border: 24px solid transparent;
  border-right: 24px solid white;
}
@media (min-width: 1000px) {
  .header__navigation {
    display: flex;
    position: static;
    flex-direction: row;
    gap: 0;
    width: 25.9444444444rem;
    padding: 0;
    justify-content: space-between;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.3888888889;
    letter-spacing: -0.128571px;
  }
  .header__navigation:before {
    display: none;
  }
}

.header__hamburger {
  cursor: pointer;
}
@media (min-width: 1000px) {
  .header__hamburger {
    display: none;
  }
}

.navigation__contact-btn {
  font-family: "Fraunces", serif;
  font-size: 0.8333333333rem;
  line-height: 1.6666666667;
  font-weight: 700;
  letter-spacing: -0.107143px;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  width: 9.3333333333em;
  height: 3.7333333333em;
  background-color: transparent;
  color: hsl(211deg, 28%, 19%);
  z-index: 2;
  position: relative;
}
.navigation__contact-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(51deg, 100%, 49%);
  border-radius: 28px;
  z-index: -1;
}
.navigation__contact-btn:hover, .navigation__contact-btn:focus {
  outline: none;
}
.navigation__contact-btn:hover::before, .navigation__contact-btn:focus::before {
  opacity: 0.25;
}
@media (min-width: 1000px) {
  .navigation__contact-btn::before {
    background-color: hsl(0deg, 0%, 100%);
  }
  .navigation__contact-btn:hover, .navigation__contact-btn:focus {
    color: hsl(0deg, 0%, 100%);
  }
}

.header__heading {
  font-family: "Fraunces", serif;
  font-size: 2.2222222222rem;
  line-height: 1.225;
  font-weight: 900;
  letter-spacing: 6.25px;
  text-transform: uppercase;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 1.3em;
}
@media (min-width: 1000px) {
  .header__heading {
    font-size: 3.1111111111rem;
    line-height: 1.2321428571;
    letter-spacing: 8.75px;
    margin-bottom: 1.7239285714em;
  }
}

.header__arrow-down {
  margin-inline: auto;
}

@media (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template: repeat(3, min-content)/repeat(2, min(50vw, 720px));
    grid-template-areas: "transform-text transform-img" "standout-img standout-text" "graphic-design photography";
    align-items: center;
    justify-content: center;
  }
}

.section-white--standout, .section-white--transform {
  padding-block: clamp(3.5555555556rem, 0.2026666667 * 100vw + -0.6666666667rem, 7.7777777778rem);
  padding-inline: clamp(1.3333333333rem, 0.1493333333 * 100vw + -1.7777777778rem, 4.4444444444rem);
  text-align: center;
}
@media (min-width: 1000px) {
  .section-white--standout, .section-white--transform {
    text-align: left;
    padding-block: 0;
    align-self: center;
  }
}

@media (min-width: 1000px) {
  .section-white--transform {
    padding-left: clamp(4.4444444444rem, 0.1931818182 * 100vw + -6.2878787879rem, 9.1666666667rem);
    padding-right: clamp(3.3333333333rem, 0.1136363636 * 100vw + -2.9797979798rem, 6.1111111111rem);
    grid-area: transform-text;
  }
}

.grid__transform-img {
  grid-area: transform-img;
}

@media (min-width: 1000px) {
  .section-white--standout {
    padding-right: clamp(4.4444444444rem, 0.1931818182 * 100vw + -6.2878787879rem, 9.1666666667rem);
    padding-left: clamp(3.3333333333rem, 0.1136363636 * 100vw + -2.9797979798rem, 6.1111111111rem);
    grid-area: standout-text;
  }
}

.grid__standout-img {
  grid-area: standout-img;
}

.section-white__heading {
  font-family: "Fraunces", serif;
  font-size: 1.7777777778rem;
  line-height: 1.21875;
  font-weight: 900;
  letter-spacing: -0.228571px;
  color: hsl(211deg, 28%, 19%);
  margin-bottom: 0.75em;
}
@media (min-width: 1000px) {
  .section-white__heading {
    font-size: 2.2222222222rem;
    line-height: 1.225;
    letter-spacing: -0.285714px;
    margin-bottom: 0.825em;
  }
}

.section-white__paragraph {
  font-size: 1rem;
  line-height: 1.6666666667;
  font-weight: 600;
  letter-spacing: -0.128571px;
  color: hsl(232deg, 10%, 55%);
  margin-bottom: 1.7777777778em;
}
@media (min-width: 1000px) {
  .section-white__paragraph {
    margin-bottom: 2.2222222222em;
  }
}

.section-white__learn-more {
  font-family: "Fraunces", serif;
  font-size: 0.8333333333rem;
  line-height: 1.6666666667;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}
.section-white__learn-more:any-link {
  color: hsl(211deg, 28%, 19%);
}

.underline--red:after, .underline--yellow:after {
  content: "";
  display: block;
  position: absolute;
  width: 7.6111111111rem;
  height: 0.5555555556rem;
  bottom: -0.1666666667rem;
  left: -0.5277777778rem;
  opacity: 0.25;
  border-radius: 28px;
  z-index: -1;
}
.underline--red:hover:after, .underline--yellow:hover:after {
  opacity: 1;
}

.underline--yellow:after {
  background-color: hsl(51deg, 100%, 49%);
}

.underline--red:after {
  background-color: hsl(7deg, 99%, 70%);
}

.grid__section-color {
  width: 100%;
  height: 33.3333333333rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-inline: clamp(1.3333333333rem, 0.1493333333 * 100vw + -1.7777777778rem, 4.4444444444rem);
  padding-bottom: 3.2777777778rem;
}
@media (min-width: 1000px) {
  .grid__section-color {
    padding-bottom: 3.2777777778rem;
  }
}

.color--green {
  background-image: url("../images/mobile/image-graphic-design.jpg");
  background-position: center center;
  color: hsl(167deg, 40%, 24%);
  grid-area: graphic-design;
}
@media (min-width: 400px) {
  .color--green {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
}

.color--blue {
  background-image: url("../images/mobile/image-photography.jpg");
  background-position: center center;
  color: hsl(198deg, 62%, 26%);
  grid-area: photography;
}
@media (min-width: 400px) {
  .color--blue {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

.section-color__heading {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  line-height: 1.2962962963;
  font-weight: 900;
  letter-spacing: -0.2px;
  margin-bottom: 1em;
}
@media (min-width: 1000px) {
  .section-color__heading {
    font-size: 1.5555555556rem;
    line-height: 1.25;
    margin-bottom: 0.9642857143em;
  }
}

.section-color__paragraph {
  font-size: 0.8888888889rem;
  line-height: 1.6875;
  font-weight: 600;
  letter-spacing: -0.114286px;
  max-width: 25rem;
}
@media (min-width: 1000px) {
  .section-color__paragraph {
    max-width: 18.8888888889rem;
  }
}

.section-testimonials {
  padding-top: 3.5555555556rem;
  padding-inline: clamp(1.3333333333rem, 0.1493333333 * 100vw + -1.7777777778rem, 4.4444444444rem);
  padding-bottom: 4.7777777778rem;
  text-align: center;
}
@media (min-width: 1000px) {
  .section-testimonials {
    padding-block: 8.8888888889rem;
    padding-inline: 0;
    width: 100%;
  }
}

.testimonials__heading {
  font-family: "Fraunces", serif;
  font-size: 0.8888888889rem;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: 4px;
  color: hsl(206deg, 4%, 67%);
  margin-bottom: 4em;
}
@media (min-width: 1000px) {
  .testimonials__heading {
    font-size: 1.1111111111rem;
    line-height: 1.25;
    letter-spacing: 5px;
    margin-bottom: 4.05em;
  }
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5555555556rem;
}
@media (min-width: 1150px) {
  .testimonials__content {
    margin: 0 auto;
    flex-direction: row;
    gap: 1.6666666667rem;
    max-width: 61.6666666667rem;
  }
}

.testimonial__avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  margin-inline: auto;
  margin-bottom: 1.7777777778rem;
}
@media (min-width: 1150px) {
  .testimonial__avatar {
    margin-bottom: 3.2222222222rem;
  }
}

.testimonial__quote {
  font-size: 1rem;
  line-height: 1.7777777778;
  font-weight: 600;
  letter-spacing: -0.128571px;
  margin-bottom: 1.7777777778em;
  color: hsl(213deg, 9%, 39%);
  max-width: 32.7777777778rem;
}
@media (min-width: 1150px) {
  .testimonial__quote {
    width: 19.4444444444rem;
    margin-bottom: 3.8333333333em;
  }
}

.attribution__name {
  font-family: "Fraunces", serif;
  font-size: 1rem;
  line-height: 1.2222222222;
  font-weight: 900;
  letter-spacing: -0.128571px;
  color: hsl(211deg, 28%, 19%);
  margin-bottom: 0.5em;
}

.attribution__job-title {
  font-size: 0.7777777778rem;
  line-height: 1.7857142857;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: hsl(206deg, 4%, 67%);
}

.gallery {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
}
@media (min-width: 1000px) {
  .gallery {
    grid-template: none/repeat(4, 1fr);
  }
}

.footer {
  background-color: hsl(168deg, 44%, 70%);
  color: hsl(168deg, 46%, 31%);
  padding: 3.5555555556rem 2.1666666667rem 4.4444444444rem;
  position: relative;
}
.footer a:any-link {
  color: hsl(168deg, 34%, 41%);
}
.footer a:hover,
.footer a:focus {
  color: hsl(0deg, 0%, 100%);
}
@media (min-width: 1000px) {
  .footer {
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  width: 9.4444444444rem;
  margin-inline: auto;
  margin-bottom: 2.2222222222rem;
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  line-height: 1.3888888889;
  font-weight: 600;
  letter-spacing: -0.128571px;
  margin-bottom: 4.8888888889rem;
}
@media (min-width: 1000px) {
  .footer__links {
    max-width: 16.6666666667rem;
  }
}

.footer__social-media {
  width: 9.1111111111rem;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

.attribution {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
